.form {
  position: relative;

  &-zoom {
    position: absolute;
    z-index: 2;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);

    border-radius: 1.5rem;
    width:  100%;
    height: 100%;
    text-align: center;

    &__close {
      position: absolute;
      left: 50%;
      top:    0;
      transform: translateX(-50%) rotate(45deg);

      background: none;
      border: none;
      padding: 0;


      font-family: "Arial MT";
      font-size: 3.4rem;
      font-weight: bold;
      line-height: 8.914rem;
      color: white;

      cursor: pointer;
    }

    &__image {
      display: block;
      margin: auto;
      
      width: auto;
          height: 100%;
      max-height: 100%;
    }
  }


  &__title {
    margin: 0;
    margin-bottom: 2.5rem;

    font-size: inherit;
    font-weight: inherit;
  }

  &__subtitle {
    margin: 1.6rem 0;

    font-size: inherit;
    font-weight: inherit;
  }

  hr {
    border: none;
    max-width: 38.9rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--accent-color);
  }

  &-step {
    display: inline-block;

    &__suptitle {
      margin: 1.5rem 0 2rem;
      font-weight: inherit;
    }

    .agreement {
      align-self: flex-start;
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        @include visually-hidden();

        &.error + span {
          outline: .25rem auto red
        }

        &:checked + span {
          background: white url(../img/checkbox.svg) no-repeat center /  2.5rem;
        }

        + span {
          margin: 0;
          width:  3.3rem;
          height: 3.3rem;
          border: 0.1rem solid #f5979d;
          background: white;
        }
      }

      &__text {
        margin: 0;
        margin-left: 1rem;

        font-weight: normal;
      }
    }

    textarea,
    input {
      &.error {
        outline: .25rem auto red;
      }
    }

    // Первый слайд формы
    &-1 {


      &__inner {
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;

        $gap: 5.5rem / 2;
        margin: -$gap;

        > * {
          margin: $gap;
        }
      }

      &__info {
        margin: 0;
        margin-top: 1.8rem;
      }

      &-item {
        text-align: center;

        &__img {
          width: 21.3rem !important;
        }

        &__subtext {
          margin: 1.5rem 0 1.7rem;
        }

        &__description {
          margin: 0;
          margin-top: 1.3rem;

          color: var(--accent-color);
        }
      }

    }

    &-2 {
      &__suptitle {
        margin: 0;
        margin-bottom: 2rem;
      }
    }

    &-3 {
      &__suptitle {
        margin: 0;
        margin-bottom: 2rem;
      }

      &__description {
        margin: 0;
        margin-top: 3rem;
      }
    }

    &-4 {
      &__suptitle {
        margin: 0;
        margin-bottom: 2rem;
      }

      &__description {
        margin: 0;
        margin-top: 3rem;
      }

      &-radiogroup {
        $gap: 3rem;
        margin: -$gap;
        display: flex;

        label {
          display: inline-block;
          margin: $gap;

          input {
            @include visually-hidden();

            &:checked + img {
              outline: .9rem solid #f5979d;
              outline-offset: -.9rem;
            }
          }

          img {
            margin-bottom: 1.5rem;
            width:  16.6rem !important;
            height: 41.6rem !important;

            pointer-events: none;
          }
        }
      }
    }

    &-5 {
      
      &-content {
        display: flex;

        text-align: left;

        @include sm {
          flex-direction: column;
          align-items: center;
        }

        &__aside {
          margin-right: 6rem;

          width:  30.1rem !important;
          height: 30.1rem !important;

          @include sm {
            margin-right: 0;
            margin-bottom: 2rem;

            width:  17.7rem !important;
            height: 17.7rem !important;
          }
        }

        &__agreement-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__spaced-row {
          display: flex;
          justify-content: space-between;

          > * {
            margin-right: 4.5rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &__main {
          display: flex;
          flex-direction: column;

          @include sm {
            text-align: center;
          }

          &-intro {
            p:last-child {
              margin-bottom: 0;
            }
          }

          > * {
            margin-bottom: 3.5rem;

            @include sm {
              margin-bottom: 2.3rem;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          p {
            margin: 0;
            margin-bottom: 1.75rem;
          }

          label {
            display: flex;
            flex-direction: column;
            text-align: left;

            &.short-input input {
              width: 7.4rem;
            }

            &.long {
              width: 22.1rem;
            }

            span {
              display: inline-block;
              margin-bottom: 1rem;
            }
          }

          input,
          textarea {
            padding: 1rem;
            border: 0.1rem solid #f5979d;
            height: 4.3rem;
          }

          textarea {
            resize: none;

            &.address {
              height: initial;
              max-height: 7.3rem;
            }
          }

        }

      }

      &-payment {
        text-align: left;

        &__title {
          font-weight: bold;
        }
        
        &__content {
          display: flex;

          > * {
            margin-right: 2rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &-radio {
          display: flex;
          flex-direction: row !important;
          align-items: flex-start;

          cursor: pointer;

          input {
            @include visually-hidden();

            + span {
              position: relative;
              display: flex;
              margin-top:   .15rem;
              margin-right:  .6rem;
              width:  1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              background: url(../img/round_stroke.svg) no-repeat center / contain;
            }

            &:checked + span {
              background-image: url(../img/round_stroke_fill.svg)
            }
          }

          &__label {
            margin: 0 !important;
            display: flex !important;
            flex-direction: column !important;

            small {
              color: #9f9f9f;
              font-style: italic;
            }
          }
        }
      }

    }

    &-7 {
      &__suptitle {
        margin: 0;
        margin-bottom: 2rem;
      }

      &__description {
        margin: 0;
        margin-top: 3rem;
      }

      &-radiogroup {
        $gap: 3rem;
        margin: -$gap;
        display: flex;
        justify-content: center;

        label {
          display: inline-block;
          margin: $gap;

          input {
            @include visually-hidden();

            &:checked ~ img {
              display: block;

              &:first-of-type {
                display: none;
              }
            }
          }

          img {
            margin-bottom: 1.5rem;
            width:  21.1rem !important;
            height: 27.8rem !important;

            pointer-events: none;

            &:last-of-type {
              display: none;
            }
          }
        }
      }

      &-footer {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }

    &-8 {

      &__content {
        > * {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        label {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            margin-bottom: .7rem;
            font-weight: bold;
          }

          input[type="email"] {
            border: 0.1rem solid #f5979d;
            padding: 1.2rem;
            width: 100%;

            text-align: center;
          }
        }
      }

      &__description {
        margin: 0;
        margin-top: 5rem;
      }

      hr {
        margin: 3rem auto;
        width: 14.1rem;
        height: 0.1rem;
        background: currentColor;
      }
    }

    &-9 {

      &__content {
        margin-top: 4rem;

        > * {
          margin-bottom: 1.8rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        p {
          font-weight: bold;
        }

        a {
          color: #ff8a94;
        }
      }

      &__description {
        margin: 0;
        margin-top: 3rem;
      }

      &-footer {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

  }

  &-footer {
    // TODO: probably remove
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-prev {
      margin-top: 1rem;

      background: none;
      border: none;
      padding: 0;

      color: var(--accent-color);
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

}