.section4 {
  position: relative;
  background: #8ea6d6 url(../img/section4/section4-background.jpg) no-repeat 0 -46.9rem / cover;
  
  @include sm {
    background-image: url(../img/section4/section4-background-mobile.jpg);
    background-position: 0 -38.5rem;
  }

  &__description {
    margin:  0 auto;
    padding-top:    18.5rem;
    padding-bottom: 19.5rem;
    
    min-width: 3rem;
    text-align: center;

    font-weight: 300;
    font-size: 1.5rem;
    color: #fefefe;
    text-shadow: .7px .7px 0 #1e1e20;

    @include sm {
      font-size:       1.7rem;
      padding-top:      16rem;
      padding-bottom: 12.5rem;
    }
  }

  &__scrolldown {
    position: absolute;
    z-index:    3;
    bottom: -0.7rem;
    left:       50%;
    transform: translateX(-50%);


    @include sm {
      bottom: 0.7rem;
      transform: translate(-50%, 1.25rem);
    }
  }
}