.section2 {
  position: relative;

  &__under-description-stripe {
    margin-top:       0rem;  
    margin-bottom:  3.2rem;

    @include sm {
      margin-top:      1rem;
      margin-bottom: 7.5rem;
    }
  }
  
  &__inner {
    display:           flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    
    .description {
      margin-top:      5rem;
      margin-bottom: 0.3rem;
      padding: 0;
      text-align: center;

      @include sm {
        margin-top: 4.6rem;
      }
      
      &:last-child {
        margin-bottom: 0rem;
      }
    }

  }

  &__under-dna-types-stripe {
    margin-top:    -.5rem;
    margin-bottom: 2.7rem;

    @include sm {
      margin-top:      6rem;
      margin-bottom: 2.5rem;
    }
  }
    
  &__price {
    margin: 0;
    margin-bottom: 1rem;
    
    text-align: center;
  }

  &__btn {
    margin-bottom: 8.5rem;
    @include sm {
      bottom: -0.6%;
    }
  }

  &__scrolldown {
    position: absolute;
    z-index:    2;
    bottom:   -2%;
    left:     50%;
    transform: translateX(-50%);
  }

  &::before {
    content: '';
    position: absolute;
    left: 50.1%;
    transform: translateX(-50%);
    top: -3.6rem;
    margin-left: -0.175em;
    background: url(../img/white-wave-top.png) no-repeat center / contain;
    width: 133.8rem;
    height: 7rem; 

    @include sm {
      width: 100%;
    }
  }
}

 